// * Account Settings
// *******************************************************************************

@import "../_bootstrap-extended/include";

.api-key-actions {
  position: absolute !important;
  inset-block-start: .75rem;
  inset-inline-end: .5rem;
}
